<div class="w-full bg-[#171123] hidden md:block">
  <div class="flex justify-between max-w-[1000px] mx-auto px-8 py-4">
    <div class="h-[40px]">
      <img
        src="./assets/images/logo.png"
        alt="Profile Image"
        class="object-cover w-full h-full"
      />
    </div>
    <div
      class="w-[40px] h-[40px] rounded-full overflow-hidden border-[#251e31] cursor-pointer"
    >
      <img
        [src]="profileImage"
        alt="Profile Image"
        class="object-cover w-full h-full"
      />
    </div>
  </div>
</div>
